<div class="slideshow">
  <ul>
    <li><img src="http://zhuxian.ap01.aws.af.cm/demo/css/slideshow/1.jpeg"></li>
    <li><img src="http://zhuxian.ap01.aws.af.cm/demo/css/slideshow/2.jpeg"></li>
    <li><img src="http://zhuxian.ap01.aws.af.cm/demo/css/slideshow/3.jpeg"></li>
    <li><img src="http://zhuxian.ap01.aws.af.cm/demo/css/slideshow/4.jpeg"></li>
  </ul>
</div>