<div class="slideshow">
  <ul>
    <li><img src="http://lotus-assets.qiniudn.com/slideshow/1.jpeg"></li>
    <li><img src="http://lotus-assets.qiniudn.com/slideshow/2.jpeg"></li>
    <li><img src="http://lotus-assets.qiniudn.com/slideshow/3.jpeg"></li>
    <li><img src="http://lotus-assets.qiniudn.com/slideshow/4.jpeg"></li>
  </ul>
</div>