.bg-alert {
  position: relative;
  padding: 25px 30px 25px 100px;
  min-height: 50px;
  line-height: 22px;
  background: white;
  border-radius: 2px;

  &:focus {
    outline-style: none;
  }

  &:before {
    content: '';
    position: absolute;
    top: 25px;
    left: 30px;
    width: 40px;
    height: 40px;
    border: 5px solid;
    border-radius: 25px;
  }

  & p {
    font-size: 11px;
    color: #666;
  }

  .alert-title {
    margin: 0 0 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333;

    &:before, &:after {
      content: '';
      position: absolute;
      background: white;
      border-radius: 2px;
    }
  }

  .alert-footer {
    margin: 20px -30px 0 -100px;
    padding: 10px 0 10px;
    border-top: 1px solid #cccccc;

    .ok {
      position: absolute;
      right: 15px;
      margin-top: -5px;
    }

    .cancel {
      position: absolute;
      left: 15px;
      margin-top: -5px;
    }
  }
}
.alert-check {
  &:before {
    background: #a7d155;
    border-color: #8fb14f;
  }

  .alert-title:before, .alert-title:after {
    top: 44px;
    left: 55px;
    width: 4px;
    height: 12px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .alert-title:after {
    top: 50px;
    left: 48px;
    width: 8px;
    height: 4px;
  }
}
.alert-error {
  &:before {
    background: #e34f4f;
    border-color: #c14343;
  }

  .alert-title:before, .alert-title:after {
    top: 43px;
    left: 53px;
    width: 4px;
    height: 14px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .alert-title:after {
    top: 48px;
    left: 48px;
    width: 14px;
    height: 4px;
  }
}
.alert-warn {
  &:before {
    background: #f1e472;
    border-color: #cec260;
  }

  .alert-title:before, .alert-title:after {
    top: 42px;
    left: 53px;
    width: 4px;
    height: 11px;
    background: #5c562b;
  }

  .alert-title:after {
    top: 54px;
    height: 4px;
  }
}
.alert-info {
  &:before {
    background: #4cc6f7;
    border-color: #20aae5;
  }

  .alert-title:before, .alert-title:after {
    top: 42px;
    left: 53px;
    width: 4px;
    height: 11px;
    background: #146E94;
  }

  .alert-title:after {
    top: 54px;
    height: 4px;
  }
}