/* LAYOUT CSS */
#layout {
  padding: 0;
}

.sidebar {
  padding: 0;
  background: rgb(61, 79, 93);
  color: #fff;
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.header {
  text-align: center;
  top: auto;
  margin: 3em auto;

  /* title */
  .brand-title, .brand-tagline {
    margin: 0;
  }
  .brand-title {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
  }
  .brand-tagline {
    font-weight: 300;
    font-size: 18px;
    color: rgb(176, 202, 219);
  }

  /* nav */
  .nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .nav-item {
      display: inline-block;
      *display: inline;
      zoom: 1;
      margin-top: 1em;

      a {
        background: transparent;
        border: 2px solid rgb(176, 202, 219);
        color: #fff;
        letter-spacing: 0.05em;
        padding: 5px 8px;
        cursor: pointer;
        /*自动转成大写*/
        /*text-transform: uppercase;*/

        &:hover, &:focus, &.active {
          border: 2px solid rgb(61, 146, 201);
        }
      }
    }
  }
}

.content {
  margin-left: 0px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;

  .inner-content { padding: 2em 1em 0 }
  .content-subhead {
    height: 40px;
    line-height: 40px;
    color: #aaa;
    border-bottom: 1px solid #eee;
    font-weight: 500;
    letter-spacing: 0.1em;
  }

  .content-contents { margin: 20px }
}

@media (min-width: 48em) {
  .content {
    .inner-content { padding: 2em 3em 0 }
    margin-left: 25%;
  }

  .header {
    margin: 80% 2em 0;
    text-align: right;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}
