/* LAYOUT CSS */
#layout {
  padding: 0;
}

.sidebar {
  background: rgb(61, 79, 93);
  color: #fff;
  position: initial;
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  width: 100%;
}

.header {
  text-align: center;
  top: auto;
  margin: 3em auto;

  /* title */
  .brand-title, .brand-tagline {
    margin: 0;
  }
  .brand-title {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
  }
  .brand-tagline {
    font-weight: 300;
    font-size: 18px;
    color: rgb(176, 202, 219);
  }

  /* nav */
  .nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .nav-item {
      display: inline-block;
      *display: inline;
      zoom: 1;
      margin-top: 1em;

      a {
        background: transparent;
        border: 2px solid rgb(176, 202, 219);
        color: #fff;
        letter-spacing: 0.05em;
        padding: 5px 8px;
        cursor: pointer;
        /*自动转成大写*/
        /*text-transform: uppercase;*/

        &:hover, &:focus, &.active {
          border: 2px solid rgb(61, 146, 201);
        }
      }
    }
  }
}

.content {
  padding: 2em 1em 0;
  margin-left: 0px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  width: 100%;

  .content-subhead {
    height: 40px;
    line-height: 40px;
    color: #aaa;
    border-bottom: 1px solid #eee;
    font-weight: 500;
    letter-spacing: 0.1em;
  }

  .content-contents {
    margin: 20px 0 20px 0;
  }
}

/* search */
.search {
  margin: 0;
  white-space: nowrap;

  .fa {
    position: relative;
    left: -20px;
  }

  input {
    background: #fff;
    background: linear-gradient(top,#eee 1%,#fff 15%);
    margin: 1px 0;
    padding: 7px 30px 7px 10px;
    outline: 0;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 1em;
    height: 30px;
    width: 200px;

    @include transition(width .4s);
    &:focus {
      width: 400px;
      outline: thin dotted \9;
      border-color: #129FEA;
    }
  }
}

/* 加载条 */
.loading {
  position: fixed;
  width: 150px;
  height: 40px;
  line-height: 40px;
  left: 50%;
  margin-left: -75px;
  bottom: 100px;
  color: #FFF;
  font-size: 16px;
  background-color: #000;
  opacity: 0.5;
  border-radius: 12px;
  text-align: center;
  z-index: 1099;

  &.operating {
    top: 50%;
    margin-top: -20px;
    bottom: inherit;
  }
}

@media (min-width: 780px) {
  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
    width: 75%;
  }

  .header {
    margin: 80% 2em 0;
    text-align: right;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgb(61, 79, 93);
    color: #fff;
    width: 25%;
  }

  .search input:focus {
    width: 300px;
  }
}
