$post-body-min-height: 350px;

blockquote {
  border-left: 2px dotted #888;
  padding-left: 5px;
  background: #d0f0ff;
}

.wmd-panel {
  /*margin-left: 25%;
  margin-right: 25%;
  width: 50%;*/
  width: 100%;
  min-width: 500px;
}
.wmd-panel.display {
  display: block;
}
.wmd-panel.hidden {
  display: none;
}

.wmd-button-bar {
  width: 100%;
  background-color: Silver;
}

.wmd-input {
  min-height: $post-body-min-height;
  width: 100%;
  border: 1px solid #aaaaaa;
  resize: none;
}

.wmd-button-row {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 0px;
  height: 20px;
}

.wmd-spacer {
  width: 1px;
  height: 20px;
  margin-left: 14px;
  position: absolute;
  background-color: Silver;
  display: inline-block;
  list-style: none;
}

.wmd-button {
  width: 20px;
  height: 20px;
  padding-left: 2px;
  padding-right: 3px;
  position: absolute;
  display: inline-block;
  list-style: none;
  cursor: pointer;
}

.wmd-button > span {
  background-image: url(../pagedown/wmd-buttons.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.wmd-spacer1 {
  left: 50px;
}

.wmd-spacer2 {
  left: 175px;
}

.wmd-spacer3 {
  left: 300px;
}

.wmd-prompt-background {
  background-color: Black;
}

.wmd-prompt-dialog {
  border: 1px solid #999999;
  background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
  font-size: 0.8em;
  font-family: arial, helvetica, sans-serif;
}

.wmd-prompt-dialog > form > input[type="text"] {
  border: 1px solid #999999;
  color: black;
}

.wmd-prompt-dialog > form > input[type="button"] {
  border: 1px solid #888888;
  font-family: trebuchet MS, helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}

.wmd-preview-warper {
  padding: 10px;
  background-color: #c0e0ff;
}
.wmd-preview-warper.display {
  display: block;
}
.wmd-preview-warper.hidden {
  display: none;
}

.wmd-preview {
  min-height: $post-body-min-height;
  font-family: Helvetica,arial,freesans,clean,sans-serif;
  font-size: 13px;
  line-height: 1.6;
}

.wmd-preview em {
  font-style: italic;
}

.wmd-preview strong {
  font-style: bold;
}

.wmd-preview>*:first-child {
  margin-top: 0!important;
}

.wmd-preview>*:last-child {
  margin-bottom: 0!important;
}

.wmd-preview a {
  color: #4183C4;
  text-decoration: none;
}

.wmd-preview a:hover {
  text-decoration: underline;
}

.wmd-preview h1,
.wmd-preview h2,
.wmd-preview h3,
.wmd-preview h4,
.wmd-preview h5,
.wmd-preview h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.wmd-preview h1 tt,
.wmd-preview h1 code,
.wmd-preview h2 tt,
.wmd-preview h2 code,
.wmd-preview h3 tt,
.wmd-preview h3 code,
.wmd-preview h4 tt,
.wmd-preview h4 code,
.wmd-preview h5 tt,
.wmd-preview h5 code,
.wmd-preview h6 tt,
.wmd-preview h6 code {
  font-size: inherit;
}

.wmd-preview h1 {
  font-size: 28px;
  color: #000;
}

.wmd-preview h2 {
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  color: #000;
}

.wmd-preview h3 {
  font-size: 18px;
}

.wmd-preview h4 {
  font-size: 16px;
}

.wmd-preview h5 {
  font-size: 14px;
}

.wmd-preview h6 {
  color: #777;
  font-size: 14px;
}

.wmd-preview p,
.wmd-preview blockquote,
.wmd-preview ul,
.wmd-preview ol,
.wmd-preview dl,
.wmd-preview li,
.wmd-preview table,
.wmd-preview pre {
  margin: 15px 0;
}

.wmd-preview hr {
  background: transparent;
  border: 0 none;
  color: #ccc;
  height: 4px;
  padding: 0;
}

.wmd-preview>h2:first-child,
.wmd-preview>h1:first-child,
.wmd-preview>h1:first-child+h2,
.wmd-preview>h3:first-child,
.wmd-preview>h4:first-child,
.wmd-preview>h5:first-child,
.wmd-preview>h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

.wmd-preview h1+p,
.wmd-preview h2+p,
.wmd-preview h3+p,
.wmd-preview h4+p,
.wmd-preview h5+p,
.wmd-preview h6+p {
  margin-top: 0;
}

.wmd-preview li p.first {
  display: inline-block;
}

.wmd-preview ul,
.wmd-preview ol {
  padding-left: 30px;
}

.wmd-preview ul li>:first-child,
.wmd-preview ol li>:first-child {
  margin-top: 0;
}

.wmd-preview ul li>:last-child,
.wmd-preview ol li>:last-child {
  margin-bottom: 0;
}

.wmd-preview dl {
  padding: 0;
}

.wmd-preview dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

.wmd-preview dl dt:first-child {
  padding: 0;
}

.wmd-preview dl dt>:first-child {
  margin-top: 0;
}

.wmd-preview dl dt>:last-child {
  margin-bottom: 0;
}

.wmd-preview dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

.wmd-preview dl dd>:first-child {
  margin-top: 0;
}

.wmd-preview dl dd>:last-child {
  margin-bottom: 0;
}

.wmd-preview blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
}

.wmd-preview blockquote>:first-child {
  margin-top: 0;
}

.wmd-preview blockquote>:last-child {
  margin-bottom: 0;
}

.wmd-preview table {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;
}

.wmd-preview table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.wmd-preview table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.wmd-preview table tr th {
  font-weight: bold;
}

.wmd-preview table tr th,
.wmd-preview table tr td {
  border: 1px solid #ccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

.wmd-preview table tr th>:first-child,
.wmd-preview table tr td>:first-child {
  margin-top: 0;
}

.wmd-preview table tr th>:last-child,
.wmd-preview table tr td>:last-child {
  margin-bottom: 0;
}

.wmd-preview img {
  max-width: 100%;
}

.wmd-preview span.frame {
  display: block;
  overflow: hidden;
}

.wmd-preview span.frame>span {
  border: 1px solid #ddd;
  display: block;
  float: left;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto;
}

.wmd-preview span.frame span img {
  display: block;
  float: left;
}

.wmd-preview span.frame span span {
  clear: both;
  color: #333;
  display: block;
  padding: 5px 0 0;
}

.wmd-preview span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.wmd-preview span.align-center>span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}

.wmd-preview span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.wmd-preview span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.wmd-preview span.align-right>span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right;
}

.wmd-preview span.align-right span img {
  margin: 0;
  text-align: right;
}

.wmd-preview span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}

.wmd-preview span.float-left span {
  margin: 13px 0 0;
}

.wmd-preview span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right;
}

.wmd-preview span.float-right>span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right;
}

.wmd-preview code,
.wmd-preview tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

.wmd-preview pre>code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

.wmd-preview .highlight pre,
.wmd-preview pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

.wmd-preview pre code,
.wmd-preview pre tt {
  background-color: transparent;
  border: none;
}