.post .post-body{
  padding-top:10px;
  padding-bottom:10px;
  font-family: Helvetica,arial,freesans,clean,sans-serif;
  font-size:13px;
  line-height:1.6;
}

.post .post-body>*:first-child{
  margin-top:0!important;
}

.post .post-body>*:last-child{
  margin-bottom:0!important;
}

.post .post-body a{
  color:#4183C4;
  text-decoration:none;
}

.post .post-body a:hover{
  text-decoration:underline;
}

.post .post-body h1,
.post .post-body h2,
.post .post-body h3,
.post .post-body h4,
.post .post-body h5,
.post .post-body h6{
  margin:20px 0 10px;
  padding:0;
  font-weight:bold;
  -webkit-font-smoothing:antialiased;
}

.post .post-body h1 tt,
.post .post-body h1 code,
.post .post-body h2 tt,
.post .post-body h2 code,
.post .post-body h3 tt,
.post .post-body h3 code,
.post .post-body h4 tt,
.post .post-body h4 code,
.post .post-body h5 tt,
.post .post-body h5 code,
.post .post-body h6 tt,
.post .post-body h6 code{
  font-size:inherit;
}

.post .post-body h1{
  font-size:28px;
  color:#000;
}

.post .post-body h2{
  font-size:24px;
  border-bottom:1px solid #ccc;
  color:#000;
}

.post .post-body h3{
  font-size:18px;
}

.post .post-body h4{
  font-size:16px;
}

.post .post-body h5{
  font-size:14px;
}

.post .post-body h6{
  color:#777;
  font-size:14px;
}

.post .post-body p,
.post .post-body blockquote,
.post .post-body ul,
.post .post-body ol,
.post .post-body dl,
.post .post-body li,
.post .post-body table,
.post .post-body pre{
  margin:15px 0;
}

.post .post-body hr{
  background:transparent url('../../images/modules/pulls/dirty-shade.png') repeat-x 0 0;
  border:0 none;
  color:#ccc;
  height:4px;
  padding:0;
}

.post .post-body>h2:first-child,
.post .post-body>h1:first-child,
.post .post-body>h1:first-child+h2,
.post .post-body>h3:first-child,
.post .post-body>h4:first-child,
.post .post-body>h5:first-child,
.post .post-body>h6:first-child{
  margin-top:0;
  padding-top:0;
}

.post .post-body h1+p,
.post .post-body h2+p,
.post .post-body h3+p,
.post .post-body h4+p,
.post .post-body h5+p,
.post .post-body h6+p{
  margin-top:0;
}

.post .post-body li p.first{
  display:inline-block;
}

.post .post-body ul,
.post .post-body ol{
  padding-left:30px;
}

.post .post-body ul li>:first-child,
.post .post-body ol li>:first-child{
  margin-top:0;
}

.post .post-body ul li>:last-child,
.post .post-body ol li>:last-child{
  margin-bottom:0;
}

.post .post-body dl{
  padding:0;
}

.post .post-body dl dt{
  font-size:14px;
  font-weight:bold;
  font-style:italic;
  padding:0;
  margin:15px 0 5px;
}

.post .post-body dl dt:first-child{
  padding:0;
}

.post .post-body dl dt>:first-child{
  margin-top:0;
}

.post .post-body dl dt>:last-child{
  margin-bottom:0;
}

.post .post-body dl dd{
  margin:0 0 15px;
  padding:0 15px;
}

.post .post-body dl dd>:first-child{
  margin-top:0;
}

.post .post-body dl dd>:last-child{
  margin-bottom:0;
}

.post .post-body blockquote{
  border-left:4px solid #DDD;
  padding:0 15px;
  color:#777;
}

.post .post-body blockquote>:first-child{
  margin-top:0;
}

.post .post-body blockquote>:last-child{
  margin-bottom:0;
}

.post .post-body table{
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;
}

.post .post-body table tr{
  border-top:1px solid #ccc;
  background-color:#fff;
  margin:0;
  padding:0;
}

.post .post-body table tr:nth-child(2n){
  background-color:#f8f8f8;
}

.post .post-body table tr th{
  font-weight:bold;
}

.post .post-body table tr th,
.post .post-body table tr td{
  border:1px solid #ccc;
  text-align:left;
  margin:0;
  padding:6px 13px;
}

.post .post-body table tr th>:first-child,
.post .post-body table tr td>:first-child{
  margin-top:0;
}

.post .post-body table tr th>:last-child,
.post .post-body table tr td>:last-child{
  margin-bottom:0;
}

.post .post-body img{
  max-width:100%;
}

.post .post-body span.frame{
  display:block;
  overflow:hidden;
}

.post .post-body span.frame>span{
  border:1px solid #ddd;
  display:block;
  float:left;
  overflow:hidden;
  margin:13px 0 0;
  padding:7px;
  width:auto;
}

.post .post-body span.frame span img{
  display:block;
  float:left;
}

.post .post-body span.frame span span{
  clear:both;
  color:#333;
  display:block;
  padding:5px 0 0;
}

.post .post-body span.align-center{
  display:block;
  overflow:hidden;
  clear:both;
}

.post .post-body span.align-center>span{
  display:block;
  overflow:hidden;
  margin:13px auto 0;
  text-align:center;
}

.post .post-body span.align-center span img{
  margin:0 auto;
  text-align:center;
}

.post .post-body span.align-right{
  display:block;
  overflow:hidden;
  clear:both;
}

.post .post-body span.align-right>span{
  display:block;
  overflow:hidden;
  margin:13px 0 0;
  text-align:right;
}

.post .post-body span.align-right span img{
  margin:0;
  text-align:right;
}

.post .post-body span.float-left{
  display:block;
  margin-right:13px;
  overflow:hidden;
  float:left;
}

.post .post-body span.float-left span{
  margin:13px 0 0;
}

.post .post-body span.float-right{
  display:block;
  margin-left:13px;
  overflow:hidden;
  float:right;
}

.post .post-body span.float-right>span{
  display:block;
  overflow:hidden;
  margin:13px auto 0;
  text-align:right;
}

.post .post-body code,
.post .post-body tt{
  margin:0 2px;
  padding:0 5px;
  white-space:nowrap;
  border:1px solid #eaeaea;
  background-color:#f8f8f8;
  border-radius:3px;
}

.post .post-body pre>code{
  margin:0;
  padding:0;
  white-space:pre;
  border:none;
  background:transparent;
}

.post .post-body .highlight pre,
.post .post-body pre{
  background-color:#f8f8f8;
  border:1px solid #ccc;
  font-size:13px;
  line-height:19px;
  overflow:auto;
  padding:6px 10px;
  border-radius:3px;
}

.post .post-body pre code,
.post .post-body pre tt{
  background-color:transparent;
  border:none;
}

.post .post-body strong{
  font-weight:bold;
}

.post .post-body {
  i, cite, em, var, address, dfn {
    font-style: italic;
  }
}



.comment-list-item .comment-body{
  padding-top:10px;
  padding-bottom:10px;
  font-family: Helvetica,arial,freesans,clean,sans-serif;
  font-size:13px;
  line-height:1.6;
}

.comment-list-item .comment-body>*:first-child{
  margin-top:0!important;
}

.comment-list-item .comment-body>*:last-child{
  margin-bottom:0!important;
}

.comment-list-item .comment-body a{
  color:#4183C4;
  text-decoration:none;
}

.comment-list-item .comment-body a:hover{
  text-decoration:underline;
}

.comment-list-item .comment-body h1,
.comment-list-item .comment-body h2,
.comment-list-item .comment-body h3,
.comment-list-item .comment-body h4,
.comment-list-item .comment-body h5,
.comment-list-item .comment-body h6{
  margin:20px 0 10px;
  padding:0;
  font-weight:bold;
  -webkit-font-smoothing:antialiased;
}

.comment-list-item .comment-body h1 tt,
.comment-list-item .comment-body h1 code,
.comment-list-item .comment-body h2 tt,
.comment-list-item .comment-body h2 code,
.comment-list-item .comment-body h3 tt,
.comment-list-item .comment-body h3 code,
.comment-list-item .comment-body h4 tt,
.comment-list-item .comment-body h4 code,
.comment-list-item .comment-body h5 tt,
.comment-list-item .comment-body h5 code,
.comment-list-item .comment-body h6 tt,
.comment-list-item .comment-body h6 code{
  font-size:inherit;
}

.comment-list-item .comment-body h1{
  font-size:28px;
  color:#000;
}

.comment-list-item .comment-body h2{
  font-size:24px;
  border-bottom:1px solid #ccc;
  color:#000;
}

.comment-list-item .comment-body h3{
  font-size:18px;
}

.comment-list-item .comment-body h4{
  font-size:16px;
}

.comment-list-item .comment-body h5{
  font-size:14px;
}

.comment-list-item .comment-body h6{
  color:#777;
  font-size:14px;
}

.comment-list-item .comment-body p,
.comment-list-item .comment-body blockquote,
.comment-list-item .comment-body ul,
.comment-list-item .comment-body ol,
.comment-list-item .comment-body dl,
.comment-list-item .comment-body li,
.comment-list-item .comment-body table,
.comment-list-item .comment-body pre{
  margin:15px 0;
}

.comment-list-item .comment-body hr{
  background:transparent url('../../images/modules/pulls/dirty-shade.png') repeat-x 0 0;
  border:0 none;
  color:#ccc;
  height:4px;
  padding:0;
}

.comment-list-item .comment-body>h2:first-child,
.comment-list-item .comment-body>h1:first-child,
.comment-list-item .comment-body>h1:first-child+h2,
.comment-list-item .comment-body>h3:first-child,
.comment-list-item .comment-body>h4:first-child,
.comment-list-item .comment-body>h5:first-child,
.comment-list-item .comment-body>h6:first-child{
  margin-top:0;
  padding-top:0;
}

.comment-list-item .comment-body h1+p,
.comment-list-item .comment-body h2+p,
.comment-list-item .comment-body h3+p,
.comment-list-item .comment-body h4+p,
.comment-list-item .comment-body h5+p,
.comment-list-item .comment-body h6+p{
  margin-top:0;
}

.comment-list-item .comment-body li p.first{
  display:inline-block;
}

.comment-list-item .comment-body ul,
.comment-list-item .comment-body ol{
  padding-left:30px;
}

.comment-list-item .comment-body ul li>:first-child,
.comment-list-item .comment-body ol li>:first-child{
  margin-top:0;
}

.comment-list-item .comment-body ul li>:last-child,
.comment-list-item .comment-body ol li>:last-child{
  margin-bottom:0;
}

.comment-list-item .comment-body dl{
  padding:0;
}

.comment-list-item .comment-body dl dt{
  font-size:14px;
  font-weight:bold;
  font-style:italic;
  padding:0;
  margin:15px 0 5px;
}

.comment-list-item .comment-body dl dt:first-child{
  padding:0;
}

.comment-list-item .comment-body dl dt>:first-child{
  margin-top:0;
}

.comment-list-item .comment-body dl dt>:last-child{
  margin-bottom:0;
}

.comment-list-item .comment-body dl dd{
  margin:0 0 15px;
  padding:0 15px;
}

.comment-list-item .comment-body dl dd>:first-child{
  margin-top:0;
}

.comment-list-item .comment-body dl dd>:last-child{
  margin-bottom:0;
}

.comment-list-item .comment-body blockquote{
  border-left:4px solid #DDD;
  padding:0 15px;
  color:#777;
}

.comment-list-item .comment-body blockquote>:first-child{
  margin-top:0;
}

.comment-list-item .comment-body blockquote>:last-child{
  margin-bottom:0;
}

.comment-list-item .comment-body table{
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;
}

.comment-list-item .comment-body table tr{
  border-top:1px solid #ccc;
  background-color:#fff;
  margin:0;
  padding:0;
}

.comment-list-item .comment-body table tr:nth-child(2n){
  background-color:#f8f8f8;
}

.comment-list-item .comment-body table tr th{
  font-weight:bold;
}

.comment-list-item .comment-body table tr th,
.comment-list-item .comment-body table tr td{
  border:1px solid #ccc;
  text-align:left;
  margin:0;
  padding:6px 13px;
}

.comment-list-item .comment-body table tr th>:first-child,
.comment-list-item .comment-body table tr td>:first-child{
  margin-top:0;
}

.comment-list-item .comment-body table tr th>:last-child,
.comment-list-item .comment-body table tr td>:last-child{
  margin-bottom:0;
}

.comment-list-item .comment-body img{
  max-width:100%;
}

.comment-list-item .comment-body span.frame{
  display:block;
  overflow:hidden;
}

.comment-list-item .comment-body span.frame>span{
  border:1px solid #ddd;
  display:block;
  float:left;
  overflow:hidden;
  margin:13px 0 0;
  padding:7px;
  width:auto;
}

.comment-list-item .comment-body span.frame span img{
  display:block;
  float:left;
}

.comment-list-item .comment-body span.frame span span{
  clear:both;
  color:#333;
  display:block;
  padding:5px 0 0;
}

.comment-list-item .comment-body span.align-center{
  display:block;
  overflow:hidden;
  clear:both;
}

.comment-list-item .comment-body span.align-center>span{
  display:block;
  overflow:hidden;
  margin:13px auto 0;
  text-align:center;
}

.comment-list-item .comment-body span.align-center span img{
  margin:0 auto;
  text-align:center;
}

.comment-list-item .comment-body span.align-right{
  display:block;
  overflow:hidden;
  clear:both;
}

.comment-list-item .comment-body span.align-right>span{
  display:block;
  overflow:hidden;
  margin:13px 0 0;
  text-align:right;
}

.comment-list-item .comment-body span.align-right span img{
  margin:0;
  text-align:right;
}

.comment-list-item .comment-body span.float-left{
  display:block;
  margin-right:13px;
  overflow:hidden;
  float:left;
}

.comment-list-item .comment-body span.float-left span{
  margin:13px 0 0;
}

.comment-list-item .comment-body span.float-right{
  display:block;
  margin-left:13px;
  overflow:hidden;
  float:right;
}

.comment-list-item .comment-body span.float-right>span{
  display:block;
  overflow:hidden;
  margin:13px auto 0;
  text-align:right;
}

.comment-list-item .comment-body code,
.comment-list-item .comment-body tt{
  margin:0 2px;
  padding:0 5px;
  white-space:nowrap;
  border:1px solid #eaeaea;
  background-color:#f8f8f8;
  border-radius:3px;
}

.comment-list-item .comment-body pre>code{
  margin:0;
  padding:0;
  white-space:pre;
  border:none;
  background:transparent;
}

.comment-list-item .comment-body .highlight pre,
.comment-list-item .comment-body pre{
  background-color:#f8f8f8;
  border:1px solid #ccc;
  font-size:13px;
  line-height:19px;
  overflow:auto;
  padding:6px 10px;
  border-radius:3px;
}

.comment-list-item .comment-body pre code,
.comment-list-item .comment-body pre tt{
  background-color:transparent;
  border:none;
}

.comment-list-item .comment-body strong{
  font-weight:bold;
}

.comment-list-item .comment-body {
  i, cite, em, var, address, dfn {
    font-style: italic;
  }
}