.markdown-editor {
  border: 1px solid #bce8f1;
  border-radius: 4px;
  position: relative;

  .hidden {
    display: none;
  }
  .block {
    display: block;
  }

  .utilbars {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;

    .button {
      display: block;
      float: left;
      border: none;
      background: none;
      outline: none;
      width: 30px;
      height: 30px;

      &.toggle-preview {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAf9JREFUeNrsVu1twjAQLZmAEcIGYYKGDWACkgkSkPiQ+CifAoEgyQTQDegEpROQDZoRMgH0HToj1yIglKr90Vg62T6f/e4d9gu50+n09BctlwFnwP8TOAgCA10VRr2ZELaHhbBXx3HCVMC+71voXmD6g4Qi2NB13e1DwAAkZhtmmKYRcxsJhHeBPc8bMMufbDU0PxF4vV4TSyth8477csI6lTV/a71er9tioonBarXaIAmLErliNWyqoM8nrJPpHFNLWLcI4xvj5XKpMo2ZgcvzIvs+75S0wKwPPB/CnpWXsG00Gra2WCwshekOVoC9Sb6IGN1ge2HNsWK+B0iJqxAL5oSpYeDJJW02mxVYLAWSGfDtebylA68Bc4wh+ahK5PcxLh6PR5GUpym/iTOfz89PqNVqhRI4iQf1/o174HNMVYDSGeTDmXQ3znogCGrtdpsYVBhER1aH2Wzm8iE7UR74DMTWGNxUQWmNYqTEzq8APoo9sJ8wKoR5eU7T6VQVjZAvx4YvDJWt1Ol0QsTqkppF8EW8/12OhTnSpT2LCe2/KiCTyUQVkJgPuwgb6XG32w05Xui4q0imLLNDxA/uSuZ4PNaZqZlSsejDYfd6veihj8RoNDK5XOUHAen3Dfr9/j7VZxEJ6AwuxCCvhMTM7oNAARhl/0Ay4Az419qXAAMAfBdK7281j6YAAAAASUVORK5CYII=);
      }
      &.toggle-edit {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAnVJREFUeNrsV+lt4lAQNtEWAB2QCtZ0ABWsqYB1BU5AgDgkQOISl9cV4FQQtgLYCuKtIN4K4gogM9H3pMmLTTh24c+O9An7+XnOb8aP1G63M64hN8aV5GqGvxyyyfO8Y3S6hDtc2wTfcZyLRPwdvxEbPSviIwjIRtO49s9ONSRLMIGvwkBI+EPYEEqyQmcZdl2Xo3BgcJ90xPUGDh1veLFYWCBK9oQ6P4BgiXVO6fUjg5zCJcE6kVxsLEN4QTlWzO5yuRwlGp7P55zOxz1RRqK2SfKD8BvOG4IHxUqlEnxop9lsZpITa0KWndGwIeQIXswzHbynpK2xzjXbeBfxdDrlhbUWjYyuiJS9fBJxgL3PItKsprNQrVaD1GQyYUVP2oYelDziPoPnT5+k2QajleEC3usI/exM7oYiXor0hpxS8qhLv5FIVVrcBwkp5ueclbS27qNMvkj7kg3nZX1qtVqAaSUN5OGUwn2M4RUb3263plh700E6I7wTKn1suCAW3PF4zL1r1Ov1SBhXZLEJFqGTQCq5N1BZIp3s+DOi5fXcG7lGo1Ea5DIFSWzcq7a4R6uYqJmlkSqHoeGKeq+w905MtGKj0Yje9TE5ID9pqictQQwmXTfh82cIJ0NML0d0QY8MdhMn13A4zENB0hAJEYn6EnGL3MZ0hsyG3Ww2g70jU8lgMOhqHicJz+KfovVkz3J5/FardfhBgDZzS90SeoJ8cXjQJlUAEmZUCx30kYiTfr9vgFRc72+ChCHSzNH+Qgk+fA7b7fZZJ5AAiIRhT4zUv3/Y07LiaPW9yPE2L5jrI/p/d7wVEZe0U8bJkvr/F+ZS8irAAIorRozUvI0gAAAAAElFTkSuQmCC);
      }
      &.fullscreen {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAY5JREFUeNrsV8tthDAQhYgCtoV04BKghK2En5AQBw4IITjwq2RLgBJcwpawHZAxMpGDYGwTFPaQkUbG1sybj58NmNM0GVfIh3GRXBbYEid932N9d1zXHWWAGAb4m+9VsUA0H5SubKkKIGA4qyUC2qKBxSCe541HKln7dV2nVbHRtq0Nw7CXGNtz/jzwqjZ5odtqTOagQRC82KRpGkcS/L2Ok7lXZV3Xp7Q6DMNR2mqNthMhKXLqzcUCc6Wgn3wU1wlX1PboHs8tjaLoyVtLT7JFK2ZZM6CZvWyE+X1Voaj3la3DMA63epGqqm4wfyCBH8xmz1+Z1WVZ2vyqU2HvHtv9OI4PsRpjL91YV2a7pcB8onmOifYFUhSFLQCTnQtkDpokyYv73JBtcAQsA3zGTXJBEgNXgrF3CcrBZGwnC+4uqxHnH+zN8/ybvexZwvZNhlsHbrt5CyCgDtu1XosUe58K4kuOF9EKnKYp20eVrxDUJssyreM0bDg4kIw0EfCbftvqQ6KKYf7/wvyVfAkwAMjqoFSaWbrBAAAAAElFTkSuQmCC);
      }
    }
  }
}

.markdown-body{
  padding: 10px;
  font-family: Helvetica,arial,freesans,clean,sans-serif;
  font-size: 13px;
  line-height: 1.6;
}

.markdown-body>*:first-child{
  margin-top:0!important;
}

.markdown-body>*:last-child{
  margin-bottom:0!important;
}

.markdown-body a{
  color:#4183C4;
  text-decoration:none;
}

.markdown-body a:hover{
  text-decoration:underline;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6{
  margin:20px 0 10px;
  padding:0;
  font-weight:bold;
  -webkit-font-smoothing:antialiased;
}

.markdown-body h1 tt,
.markdown-body h1 code,
.markdown-body h2 tt,
.markdown-body h2 code,
.markdown-body h3 tt,
.markdown-body h3 code,
.markdown-body h4 tt,
.markdown-body h4 code,
.markdown-body h5 tt,
.markdown-body h5 code,
.markdown-body h6 tt,
.markdown-body h6 code{
  font-size:inherit;
}

.markdown-body h1{
  font-size:28px;
  color:#000;
}

.markdown-body h2{
  font-size:24px;
  border-bottom:1px solid #ccc;
  color:#000;
}

.markdown-body h3{
  font-size:18px;
}

.markdown-body h4{
  font-size:16px;
}

.markdown-body h5{
  font-size:14px;
}

.markdown-body h6{
  color:#777;
  font-size:14px;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body li,
.markdown-body table,
.markdown-body pre{
  margin:15px 0;
}

.markdown-body hr{
  background:transparent;
  border:0 none;
  color:#ccc;
  height:4px;
  padding:0;
}

.markdown-body>h2:first-child,
.markdown-body>h1:first-child,
.markdown-body>h1:first-child+h2,
.markdown-body>h3:first-child,
.markdown-body>h4:first-child,
.markdown-body>h5:first-child,
.markdown-body>h6:first-child{
  margin-top:0;
  padding-top:0;
}

.markdown-body h1+p,
.markdown-body h2+p,
.markdown-body h3+p,
.markdown-body h4+p,
.markdown-body h5+p,
.markdown-body h6+p{
  margin-top:0;
}

.markdown-body li p.first{
  display:inline-block;
}

.markdown-body ul,
.markdown-body ol{
  padding-left:30px;
}

.markdown-body ul li>:first-child,
.markdown-body ol li>:first-child{
  margin-top:0;
}

.markdown-body ul li>:last-child,
.markdown-body ol li>:last-child{
  margin-bottom:0;
}

.markdown-body dl{
  padding:0;
}

.markdown-body dl dt{
  font-size:14px;
  font-weight:bold;
  font-style:italic;
  padding:0;
  margin:15px 0 5px;
}

.markdown-body dl dt:first-child{
  padding:0;
}

.markdown-body dl dt>:first-child{
  margin-top:0;
}

.markdown-body dl dt>:last-child{
  margin-bottom:0;
}

.markdown-body dl dd{
  margin:0 0 15px;
  padding:0 15px;
}

.markdown-body dl dd>:first-child{
  margin-top:0;
}

.markdown-body dl dd>:last-child{
  margin-bottom:0;
}

.markdown-body blockquote{
  border-left:4px solid #DDD;
  padding:0 15px;
  color:#777;
}

.markdown-body blockquote>:first-child{
  margin-top:0;
}

.markdown-body blockquote>:last-child{
  margin-bottom:0;
}

.markdown-body table{
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;
}

.markdown-body table tr{
  border-top:1px solid #ccc;
  background-color:#fff;
  margin:0;
  padding:0;
}

.markdown-body table tr:nth-child(2n){
  background-color:#f8f8f8;
}

.markdown-body table tr th{
  font-weight:bold;
}

.markdown-body table tr th,
.markdown-body table tr td{
  border:1px solid #ccc;
  text-align:left;
  margin:0;
  padding:6px 13px;
}

.markdown-body table tr th>:first-child,
.markdown-body table tr td>:first-child{
  margin-top:0;
}

.markdown-body table tr th>:last-child,
.markdown-body table tr td>:last-child{
  margin-bottom:0;
}

.markdown-body img{
  max-width:100%;
}

.markdown-body span.frame{
  display:block;
  overflow:hidden;
}

.markdown-body span.frame>span{
  border:1px solid #ddd;
  display:block;
  float:left;
  overflow:hidden;
  margin:13px 0 0;
  padding:7px;
  width:auto;
}

.markdown-body span.frame span img{
  display:block;
  float:left;
}

.markdown-body span.frame span span{
  clear:both;
  color:#333;
  display:block;
  padding:5px 0 0;
}

.markdown-body span.align-center{
  display:block;
  overflow:hidden;
  clear:both;
}

.markdown-body span.align-center>span{
  display:block;
  overflow:hidden;
  margin:13px auto 0;
  text-align:center;
}

.markdown-body span.align-center span img{
  margin:0 auto;
  text-align:center;
}

.markdown-body span.align-right{
  display:block;
  overflow:hidden;
  clear:both;
}

.markdown-body span.align-right>span{
  display:block;
  overflow:hidden;
  margin:13px 0 0;
  text-align:right;
}

.markdown-body span.align-right span img{
  margin:0;
  text-align:right;
}

.markdown-body span.float-left{
  display:block;
  margin-right:13px;
  overflow:hidden;
  float:left;
}

.markdown-body span.float-left span{
  margin:13px 0 0;
}

.markdown-body span.float-right{
  display:block;
  margin-left:13px;
  overflow:hidden;
  float:right;
}

.markdown-body span.float-right>span{
  display:block;
  overflow:hidden;
  margin:13px auto 0;
  text-align:right;
}

.markdown-body code,
.markdown-body tt{
  margin:0 2px;
  padding:0 5px;
  white-space:nowrap;
  border:1px solid #eaeaea;
  background-color:#f8f8f8;
  border-radius:3px;
}

.markdown-body pre>code{
  margin:0;
  padding:0;
  white-space:pre;
  border:none;
  background:transparent;
}

.markdown-body .highlight pre,
.markdown-body pre{
  background-color:#f8f8f8;
  border:1px solid #ccc;
  font-size:13px;
  line-height:19px;
  overflow:auto;
  padding:6px 10px;
  border-radius:3px;
}

.markdown-body pre code,
.markdown-body pre tt{
  background-color:transparent;
  border:none;
}

.markdown-body strong{
  font-weight:bold;
}

.markdown-body {
  i, cite, em, var, address, dfn {
    font-style: italic;
  }
}

.markdown-body {
  .hljs, pre {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #002b36;
    color: #839496;
    -webkit-text-size-adjust: none;
  }

  .hljs-comment,
  .diff .hljs-header,
  .hljs-doctype,
  .hljs-pi,
  .lisp .hljs-string,
  .hljs-javadoc {
    color: #586e75;
  }

  /* Solarized Green */
  .hljs-keyword,
  .hljs-winutils,
  .method,
  .hljs-addition,
  .css .hljs-tag,
  .hljs-request,
  .hljs-status,
  .nginx .hljs-title {
    color: #859900;
  }

  /* Solarized Cyan */
  .hljs-number,
  .hljs-command,
  .hljs-string,
  .hljs-tag .hljs-value,
  .hljs-rules .hljs-value,
  .hljs-phpdoc,
  .hljs-dartdoc,
  .tex .hljs-formula,
  .hljs-regexp,
  .hljs-hexcolor,
  .hljs-link_url {
    color: #2aa198;
  }

  /* Solarized Blue */
  .hljs-title,
  .hljs-localvars,
  .hljs-chunk,
  .hljs-decorator,
  .hljs-built_in,
  .hljs-identifier,
  .vhdl .hljs-literal,
  .hljs-id,
  .css .hljs-function {
    color: #268bd2;
  }

  /* Solarized Yellow */
  .hljs-attribute,
  .hljs-variable,
  .lisp .hljs-body,
  .smalltalk .hljs-number,
  .hljs-constant,
  .hljs-class .hljs-title,
  .hljs-parent,
  .hljs-type,
  .hljs-link_reference {
    color: #b58900;
  }

  /* Solarized Orange */
  .hljs-preprocessor,
  .hljs-preprocessor .hljs-keyword,
  .hljs-pragma,
  .hljs-shebang,
  .hljs-symbol,
  .hljs-symbol .hljs-string,
  .diff .hljs-change,
  .hljs-special,
  .hljs-attr_selector,
  .hljs-subst,
  .hljs-cdata,
  .css .hljs-pseudo,
  .hljs-header {
    color: #cb4b16;
  }

  /* Solarized Red */
  .hljs-deletion,
  .hljs-important {
    color: #dc322f;
  }

  /* Solarized Violet */
  .hljs-link_label {
    color: #6c71c4;
  }

  .tex .hljs-formula {
    background: #073642;
  }
}
