.modal > .outer > .middle > .inner {
  .modal-body .tip {
    max-width: 260px;
    display: inline-block;
    margin-left: 5px;
    font-size: 13px;
    &.bad {
      color: #e45735;
    }
    &.ok {
      color: #009900;
    }
  }

  .modal-footer { line-height: 30px; }

  /* alert tips in modal */
  .alert {
    padding: 8px 14px 8px 14px;
    margin-bottom: 10px;
    background-color: #f6c7bc;
    border: 1px solid #f0a28f;
    color: #c09853;
    font-size: 13px;

    &.alert-error {
      background-color: #f2dede;
      border-color: #eed3d7;
      color: #b94a48;
    }

    &.alert-success {
      background-color: #dff0d8;
      border-color: #d6e9c6;
      color: #468847;
    }

    &.alert-info {
      background-color: #d9edf7;
      border-color: #bce8f1;
      color: #3a87ad;
    }

    & .close {
      float: right;
      display: inline-block;
      color: inherit;
    }
  }
}
