.picker {
  margin-top: 6px;
  font-size: 12px;
  position: relative;
  display: inline-block;
  zoom: 1;

  .picker-drop {
    background: #fff;
    border: 1px solid #aaa;
    border-top: 0;
    position: absolute;
    top: 30px;
    left: -10000px;
    width: inherit;
    box-shadow: 0 4px 5px rgba(0,0,0,0.15);
    z-index: 4;
  }

  a {
    padding-top: 4px;
    height: 34px;
    &:focus {
      outline: 0;
    }
  }

  .picker-single {
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #aaaaaa;
    box-shadow: 0 0 3px #fff inset,0 1px 1px rgba(0,0,0,0.1);
    display: block;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 8px;
    color: #444444;
    text-decoration: none;

    @include user-select(none);

    span {
      margin-right: 26px;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }

    div {
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      height: 100%;
      width: 15px;
    }
  }

  .picker-title {
    padding: 3px 4px;
    position: relative;
    margin: 0;
    white-space: nowrap;
  }

  .picker-search {
    padding: 3px 4px;
    position: relative;
    margin: 0;
    white-space: nowrap;
    z-index: 3;

    .fa {
      position: absolute;
      right: 15px;
      top: 13px;
      color: #aaa;
    }

    input {
      background: #fff;
      background: linear-gradient(top,#eee 1%,#fff 15%);
      margin: 1px 0;
      padding: 7px 30px 7px 10px;
      outline: 0;
      font-family: sans-serif;
      font-size: 1em;
      width: 100%;
    }
  }

  .picker-results {
    margin: 4px 4px 4px 0;
    max-height: 240px;
    padding: 0 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .result {
      display: list-item;

      &.not-multiple {
        cursor: pointer;

        &.selected {
          background-color: #3875d7;
          background-image: linear-gradient(top,#3875d7 20%,#2a62bc 90%);
          color: #fff;
        }
      }
    }

    li {
      display: none;
      line-height: 15px;
      padding: 5px 6px;
      margin: 0;
      list-style: none;
      text-align: -webkit-match-parent;
    }

    .badge {
      cursor: inherit;
      padding: 4px 6px;
      white-space: nowrap;
      display: inline-block;
    }

    .count {
      font-size: 11px;
      color: #999999;
      display: inline-block;
      margin-left: 5px;
    }

    .highlighted {
      background-color: #3875d7;
      background-image: linear-gradient(top,#3875d7 20%,#2a62bc 90%);
      color: #fff;

      .count{
        color: inherit;
      }
    }
  }
}

.picker-active {
  .picker-single {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border: 1px solid #5897fb
  }

  .picker-single-with-drop {
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 #fff inset;
    background-color: #eee;
    background-image: linear-gradient(top,#eee 20%,#fff 80%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    div {
      background: transparent;
      border-left: none;
    }
  }
}