$img-width: 600px;
$img-height: 300px;

@include keyframes(slideshow) {
  0% { opacity:0; }
  12% { opacity:1; -moz-transform:scale(1.03) }
  25% { opacity:1; -moz-transform:scale(1.06) }
  37% { opacity:0; -moz-transform:scale(1.30) }
  100% { opacity:0; }
}

.slideshow {
  position: relative;
  width: 100%;
  height: $img-height + 50px;

  ul {
    position: absolute;
    overflow: hidden;
    width: $img-width;
    height: $img-height;
    left: 50%;
    margin-left: -($img-width) / 2;
    padding: 0;
    list-style: none;
    border: 15px solid #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);

    li {
      display: list-item;
      text-align: -webkit-match-parent;
    }

    [src] {
      position: absolute;
      opacity: 0;
      -webkit-animation: slideshow 12s linear infinite;
      -moz-animation: slideshow 12s linear infinite;
    }

    [src="http://lotus-assets.qiniudn.com/slideshow/2.jpeg"] {
      -webkit-animation-delay: 3s;
      -moz-animation-delay: 3s;
    }

    [src="http://lotus-assets.qiniudn.com/slideshow/3.jpeg"] {
      -webkit-animation-delay: 6s;
      -moz-animation-delay: 6s;
    }

    [src="http://lotus-assets.qiniudn.com/slideshow/4.jpeg"] {
      -webkit-animation-delay: 9s;
      -moz-animation-delay: 9s;
    }
  }
}

@mixin slideshow-ul($rate) {
  height: $img-height * $rate;
  width: $img-width * $rate;
  margin-left: -($img-width * $rate) / 2;
}
@mixin slideshow-ul-img($rate) {
  zoom: $rate;
}

@media screen and (min-width: 330px) {
  .slideshow ul {
    @include slideshow-ul(0.5);
  }
  .slideshow ul img{
    @include slideshow-ul-img(0.5);
  }
}
@media screen and (min-width: 560px){
  .slideshow ul {
    @include slideshow-ul(0.75);
  }
  .slideshow ul img{
    @include slideshow-ul-img(0.75);
  }
}
@media screen and (min-width: 780px) {
  .slideshow ul {
    @include slideshow-ul(0.8);
  }
  .slideshow ul img{
    @include slideshow-ul-img(0.8);
  }
}
@media screen and (min-width: 920px) {
  .slideshow ul {
    @include slideshow-ul(1);
  }
  .slideshow ul img{
    @include slideshow-ul-img(1);
  }
}

