<div class="outer">
  <div class="middle">
    <div class="inner">
      <div class="title">
        <span>{{title}}</span>
        <a class="close" {{action 'closeModal'}} role="button"><i class="fa fa-times"></i></a>
      </div>
      <div id='alert'>
        <span></span>
        {{!--<a class="close" {{action 'closeAlter'}}><i class="fa fa-times"></i></a>--}}
      </div>
      {{outlet modalBody}}
    </div>
  </div>
</div>