<div class="content-subhead">
  <div class="row">
    <div class="col-xs-8 col-sm-4">{{view 'posts/search' keywords=""}}</div>
    <div class="col-xs-4 col-sm-8 horizontal-right">
      {{#if currentUser}}
        {{#link-to "posts.new" class="button button-blue"}}{{t 'button.create'}}{{/link-to}}
      {{/if}}
    </div>
  </div>
</div>
<div class="content-contents">
  {{#if isLoading}}
    <div class="post-loading"></div>
  {{else}}
    {{view 'posts/post-list' content=filteredPosts}}
  {{/if}}
</div>
